<%- include('../includes/head') %>

    <body>
        <%- include('../includes/navbar', {"criarSection": false}) %>

            <h3 style="text-align: center;">
                <%=grupo.nome%>
            </h3>
            <% if(permissaoUsuarioGrupo !='admin' ){ %>

                <h6 style="text-align: right; margin-right: 12%;">
                    <a href="/">
                        <i style="color: red;" class="fa fa-times"> Sair do Grupo</i>
                    </a>
                </h6>
                <% } %>

                    <br>
                    <div class="container">
                        <div class="content container-fluid bootstrap snippets bootdey">
                            <div class="row row-broken">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="col-inside-lg chat" style="overflow: scroll; outline: none;"
                                        tabindex="5000">
                                        <div class="chat-users">
                                            <h6>Membros
                                                <% if(permissaoUsuarioGrupo=='admin' ){ %>
                                                    <a href="/grupos/<%=grupo.id%>/adicionarMembro">
                                                        <i class="fa fa-plus"> Adicionar</i>
                                                    </a>
                                                    <% } %>
                                            </h6>
                                            <% membrosGrupo.forEach(membro=> { %>
                                                <div class="user">
                                                    <div class="avatar">
                                                        <img src="/images/usuario.png" alt="Nome do usuário">
                                                        <div class="status online"></div>
                                                    </div>
                                                    <div class="name">
                                                        <%=membro.nome%>
                                                            <% if(permissaoUsuarioGrupo=='admin'){ %>
                                                                <a
                                                                    href="/grupos/<%=grupo.id%>/eliminarMembro/<%=membro.email%>">
                                                                    <i style="color: red;" class="fa fa-times">
                                                                        Remover</i>
                                                                </a>
                                                                <% } %>
                                                    </div>
                                                    <div class="permissao">
                                                        <%=membro.permissao%>
                                                    </div>
                                                </div>
                                                <% }) %>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-xs-12 chat" style="overflow: scroll; outline: none;"
                                    tabindex="5001">
                                    <div class="col-inside-lg decor-default"
                                        style="border-radius: 0.5rem;; min-height: 100%;">
                                        <div class="chat-body">
                                            <h6>Mensagens</h6>
                                            <% mensagens.forEach(mensagem=> { %>
                                                <div class="answer <%=mensagem.posicao%>">
                                                    <div class="avatar">
                                                        <img src="/images/usuario.png" alt="Nome do usuário">
                                                        <div class="status online"></div>
                                                    </div>
                                                    <div class="name">
                                                        <%=mensagem.nomeusuario%>
                                                    </div>
                                                    <div class="text">
                                                        <%=mensagem.texto%>
                                                    </div>
                                                    <div class="time">
                                                        <% let options={ weekday: 'long' , year: 'numeric' ,
                                                            month: 'numeric' , day: 'numeric' , hour: 'numeric' ,
                                                            minute: 'numeric' }; %>
                                                            <%= new Date(mensagem.dataenvio).toLocaleDateString('pt-BR',
                                                                options) %>
                                                    </div>
                                                </div>
                                                <% }) %>
                                                    <% if(permissaoUsuarioGrupo !=='leitor' ){ %>
                                                        <form class="validate-form"
                                                            action="/grupos/<%=grupo.id%>/enviaMensagem" method="POST">

                                                            <div class="answer-add">
                                                                <input class="form-control" name="texto" required
                                                                    placeholder="Escreva uma mensagem..">
                                                                <span class="answer-btn answer-btn-1">
                                                                    <button type="submit"
                                                                        style="border: 0px; background-color: transparent;"><i
                                                                            class="fa fa-paper-plane"
                                                                            aria-hidden="true"></i></button></span>
                                                            </div>
                                                        </form>
                                                        <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </body>